html:not(.mobile-view) {
  .has-sidebar + .sidebar {
    width: 30%;
    float: right;
    min-height: 100px;
  }
  .list-container.has-sidebar {
    width: 65%;
    float: left;
  }
  .sidebar-category-posts {
    margin-bottom: 30px;
    h3 {
      text-transform: capitalize;
      padding-bottom: 8px;
    }
    .sidebar-post-item {
      padding-bottom: 6px;
      border-bottom: 1px solid #F2F2F2;
      margin-bottom: 6px;
    }
    span.comment_count {
      margin-left: 6px;
      opacity: 0.5;
    }
    a.item-title {
      color: #222;
      font-size: 1.143em;
    }
  }
  .sidebar-latest-replies {
    margin-bottom: 30px;
    h3 {
      padding-bottom: 8px;
    }
  }
  .sidebar-reply-item {
    clear: both;
    padding: 6px 0px;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 6px;
    font-size: 0.94em;
    line-height: 16px;
    > .avatar {
      display: block;
      float: left;
      width: 30px;
      margin-right: 10px;
      margin-bottom: 5px;
      .topic-avatar {
        width: 100%;
        border-top: none;
        padding-top: 2px;
        float: none;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    > span.reply-date {
      float: right;
      display: block;
      opacity: 0.5;
      width: 35px;
      text-align: right;
    }
    > span.excerpt {
      margin-right: 35px;
      display: block;
    }
    a.item-title {
      margin-left: 40px;
      padding: 5px 0px;
      display: block;
    }
  }
  .sidebar-custom-content {
    margin-bottom: 30px;
  }
}